/* Master Styles */
.modal {
    top: 60vh !important;
    max-width: 100vw;
}

.modal-content {
    border: 2px solid #555 !important;
    border-radius: 0 !important;
}

.modal-header {
    background: #9bb8de;
    padding: 5px 15px 5px 15px !important;
    border-bottom-color: #666 !important;
}

.modal-footer {
    border-top-color: transparent !important;
    padding-top: 5px !important;
}

.modal .btn {
    width: 100px;
    color: #fff;
    border: 1px solid #666;
}

.btn-ok {
    background: #48b9ac;
}

.btn-cancel {
    background: #c52622;
}
