h2 {
    color: #666;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: lighter;
}

.fieldset {
    border: 2px solid #777;
    position: relative;
    border-radius: 6px;
    padding: 15px 5px;
    margin: 30px 0;
}

.legend {
    position: absolute;
    z-index: 1;
    font-size: 16px;
    font-weight: bold;
    top: -13px;
    left: 20px;
    background-color: #f5f5f5;
    padding: 0 10px;
}

label {
    font-weight: normal;
}

.to-down {
    margin-top: 20px
}

.btn {
    color: #fff;
    width: 100px;
    border: 1px solid #666;
}

.btn-ok {
    background: #48b9ac;
}

.btn-cancel {
    background: #c52622;
}

.error{
    color: #fc152e;
    font-size: 20px;
}


