<breadcrumbs></breadcrumbs>
<h2 *ngIf="service">{{service.name}}</h2>

<form #f="ngForm" novalidate>
    <p class="error text-center" *ngIf="fieldError">{{fieldError}}</p>
    <div class="fieldset row">
        <span class="legend">Основное</span>
        <div class="form-group col-xs-12 col-md-6">
            <label for="name">Наименование</label>
            <input type="text" class="form-control" id="name" #name="ngModel"
                   name="name" [(ngModel)]="service.name" required>
        </div>
        <div class="form-group col-xs-12 col-md-6">
            <label for="status">Статус</label>
            <select class="form-control" id="status" #status="ngModel"
                    name="status" [(ngModel)]="service.status" required>
                <option>Активная</option>
                <option>Не активная</option>
            </select>
        </div>
        <div class="form-group col-xs-12 col-md-6">
            <label for="count">Сумма</label>
            <div class="input-group">
                <input type="number" class="form-control text-center" id="count" #count="ngModel"
                       name="count" [(ngModel)]="service.count" required>
                <span class="input-group-addon">руб.</span>
            </div>
        </div>
        <div class="form-group col-xs-12 col-md-6 to-down">
            <div class="checkbox">
                <label>
                    <input type="checkbox" [checked]="service.deleted"> Удалена
                </label>
            </div>
        </div>
        <div class="form-group col-xs-12">
            <label for="description">Описание</label>
            <textarea id="description" class="form-control" rows="3" #description="ngModel" name="description"
                      [(ngModel)]="service.description" placeholder="Описание услуги. Не менее 30ти символов">
            </textarea>
        </div>
    </div>
    <div class="fieldset row">
        <span class="legend">Доп. инфо</span>
        <div class="form-group col-xs-12 col-md-6">
            <label for="activateFrom">Активна с</label>
            <input type="date" class="form-control" id="activateFrom" #activateFrom="ngModel"
                   name="activateFrom" [(ngModel)]="service.activateFrom" required>
        </div>
        <div class="form-group col-xs-12 col-md-6">
            <label for="activateTo">По</label>
            <input type="date" class="form-control" id="activateTo" #activateTo="ngModel"
                   name="activateTo" [(ngModel)]="service.activateTo" [min]="service.activateFrom" required>
        </div>
        <div class="form-group col-xs-12">
            <label for="description">Комментарий</label>
            <textarea id="comment" class="form-control" rows="3" #comment="ngModel" name="comment"
                      [(ngModel)]="service.comment" placeholder="Произвольный текстовый комментарий" required>
            </textarea>
        </div>
    </div>
    <div class="pull-right">
        <button type="submit" class="btn btn-ok" (click)="saveField(service, f.valid)">Сохранить</button>
        <button type="button" class="btn btn-cancel" data-dismiss="modal" (click)="cancelSaveField()">Отмена</button>
    </div>
</form>


