<nav class="navbar" role="navigation">
  <div class="container-fluid">
    <div class="row">
      <div class="col-xs-4 col-sm-2 navbar-header">
        <span class="navbar-brand">YEZFIX</span>
      </div>
      <div *ngIf="user" class="col-xs-8 col-sm-5">
        <div class="dropdown pull-right">
          <button class="dropdown-toggle text-uppercase dropdown-open" (click)="menuOperation('navbarItemOpen')">
            <i class="glyphicon glyphicon-user"></i> {{user.name}}
            <i *ngIf="!menu.navbarItemOpen" class="glyphicon glyphicon-menu-right dropdown-open"></i>
            <i *ngIf="menu.navbarItemOpen" class="glyphicon glyphicon-menu-down"></i>
          </button>
          <ul class="dropdown-menu" aria-labelledby="dropdownMenu1" [ngClass]="{'show' : menu.navbarItemOpen}">
            <li><a class="dropdown-menu-item" href="/home">Личный кабинет</a></li>
            <li><a class="dropdown-menu-item" href="/home">Выход</a></li>
          </ul>
        </div>
      </div>
      <div *ngIf="user" class="col-sm-5 col-xs-12 text-right pull-right count">
        {{user.count}}
        <br *ngIf="!mobileSize">
        <i>{{user.bonus}}</i>
      </div>
    </div>
  </div>
</nav>

<div class="container-fluid">
  <div class="row content">
    <div class="sidebar pull-left" [ngClass]="{'show': menu.sidebarOpen, 'hidden': !menu.sidebarOpen }">
      <i class="close glyphicon glyphicon-menu-left" (click)="menuOperation('sidebarOpen')"></i>
      <ul class="nav nav-stacked">
        <li><a routerLink="/dashboard" routerLinkActive="active">ПРИБОРНАЯ ПАНЕЛЬ</a></li>
        <li [ngClass]="{'active' : menu.sidebarItemOpen}" class="open-link">
          <p (click)="menuOperation('sidebarItemOpen')" href="#">ЗАПРОСЫ НА УСЛУГУ
            <i *ngIf="!menu.sidebarItemOpen" class="glyphicon glyphicon-menu-right pull-right"></i>
            <i *ngIf="menu.sidebarItemOpen" class="glyphicon glyphicon-menu-down pull-right"></i>
          </p>
          <ul [ngClass]="{'show' : menu.sidebarItemOpen}" class="sub-menu">
            <li class="text-right"><a routerLink="/active-queries" routerLinkActive="active">АКТИВНЫЕ ЗАПРОСЫ</a></li>
            <li class="text-right"><a routerLink="/completed-services" routerLinkActive="active">ЗАВЕРШЕННЫЕ УСЛУГИ</a></li>
            <li class="text-right"><a routerLink="/deleted-queries" routerLinkActive="active">УДАЛЕННЫЕ ЗАПРОСЫ</a></li>
          </ul>
        </li>
        <li><a routerLink="/messages" routerLinkActive="active">СООБЩЕНИЯ</a></li>
        <li><a routerLink="/my-cars" routerLinkActive="active">МОИ АВТОМОБИЛИ</a></li>
      </ul>
    </div>
    <div class="main pull-right" [ngClass]="{'resize': !menu.sidebarOpen || mobileSize}">
      <div>
        <div class="pull-left sidebar-hide" [ngClass]="{'show': !menu.sidebarOpen, 'hidden': menu.sidebarOpen }">
          <i class="open glyphicon glyphicon-menu-hamburger" (click)="menuOperation('sidebarOpen')"></i>
        </div>
        <router-outlet></router-outlet>
      </div>
    </div>
  </div>
</div>

