/*---------------------HEADER-----------------------*/

.navbar {
  height: 60px;
  margin-bottom: 0;
}

.dropdown {
  padding-top: 15px;
}

.dropdown-toggle {
  border: none;
  background: transparent;
}

.dropdown-menu {
  width: 200px;
  border-radius: 0;
  border: 1px solid grey;
  padding: 0;
}

.dropdown-menu li:first-child {
   border-bottom: 1px solid grey;
}

.dropdown-menu a {
  padding: 10px;
}

.navbar .count {
  padding-top: 15px;
}

/*---------------------SIDEBAR-----------------------*/

.sidebar {
  min-height: calc( 100vh - 60px);
  width: 230px;
  padding: 30px 0 0 1px;
  background-color: #f5f5f5;
  box-shadow: inset 0px 1px 4px rgba(1,1,1,0.2);
  transition: 3s;
}

.sidebar a {
  border-top: 1px solid lightgrey;
}

.sidebar p {
  border-top: 1px solid lightgrey;
}

.sidebar li:first-child {
  border-top: none;
}

.sidebar a {
  padding: 15px 10px;
  color: #000;
  font-weight: normal;
}

.sidebar p {
  padding: 15px 10px;
  color: #000;
  font-weight: normal;
  margin-bottom: 0;
}

.sidebar p:hover {
  background-color: #eee;
}

.sidebar a:active, .sidebar a:focus, .sidebar a:hover {
  border: 2px solid #3ab98b;
}

.sub-menu {
  display: none;
  list-style: none;
  background: #fff;
  padding-left: 0;
  box-shadow: -2px -1px 3px -2px rgba(1,1,1,0.2) inset;
}

.sub-menu a {
  display: block;
  padding: 15px 10px;
}

.sub-menu a:active,  .sub-menu a:focus, .sub-menu a:hover {
  background: #3ab98b;
  border: 2px solid #3ab98b;
  text-decoration: none;
}

.active:active, .active:hover, .active:focus {
  border: 2px solid #3ab98b;
}

.active p:hover {
  background-color: #f5f5f5;
}

.close {
  position: relative;
  z-index: 10;
  top: -25px;
  left: 0px;
}

/*---------------------MAIN CONTENT-----------------------*/

.main {
  padding: 20px;
  min-height: calc( 100vh - 60px);
  margin-left: 10px;
  background-color: #f5f5f5;
  width: calc( 100% - 240px );
}

.abs-pos {
  position: absolute;
}

.resize {
  width: 100%;
  margin-left: 0;
  padding-left: 30px;
  background-color: #f5f5f5;
}

.sidebar-hide {
  position: relative;
  top: -15px;
  left: -25px;
  z-index: 1000;
  background-color: transparent;
  color: darkgrey;
  font-size: 20px;
  transition: 3s;
}

/*---------------------MEDIA QUERY-----------------------*/

@media screen and (max-width: 720px) {
  .navbar {
    height: 90px
  }

  .navbar .count {
    padding-top: 5px;
  }

  .sidebar {
    z-index: 1000;
    position: absolute;
  }

  .resize {
    padding-right: 5px;
  }
}
