.breadcrumbs  {
    display: inline-block;
    padding-left: 0;
}

.crumbs {
    display: inline-block;
    list-style: none;
}

.crumbs-button {
    min-width: 140px;
    background-color: #3ab98b;
    height: 40px;
    line-height: 40px;
    /*text-align: center;*/
    border: 1px solid #f5f5f5;
    padding: 0 0 0 25px;
    position: relative;
}

.crumbs-button:after{
    content: '';
    position: absolute;
    right: -41px;
    top: 0;
    z-index: 1;
    border: 19px solid transparent;
    border-left: 22px solid #3ab98b;
}

.crumbs:nth-child(n+2) .crumbs-button:before{
    content: '';
    position: absolute;
    left: 0;
    top: -1px;
    border: 20px solid transparent;
    border-left: 22px solid #f5f5f5;
}

/*.crumbs:nth-child(n+2) .crumbs-button:after{*/
/*right: -41px;*/
/*}*/

.crumbs-button a{
    color: #000;
    text-decoration: none;
}

.crumbs:hover .crumbs-button, .crumbs:focus .crumbs-button{
    background-color: #78b9a9;
}

.crumbs:hover .crumbs-button:after, .crumbs:focus .crumbs-button:after {
    border-left: 22px solid  #78b9a9;
}

.crumbs-button:focus, .crumbs-button:focus:after{
    outline: none;
}

.crumbs-button:disabled {
    background-color: #e6e6e6;
    cursor: not-allowed;
}

.crumbs-button:disabled a {
    color: #888;
    cursor: not-allowed;
}

.crumbs-button:disabled::after {
    border-left: 22px solid  #e6e6e6;
}

.crumbs:hover .crumbs-button:disabled, .crumbs:focus .crumbs-button:disabled {
    background-color: #e6e6e6;
}

.crumbs:hover .crumbs-button:disabled:after, .crumbs:focus .crumbs-button:disabled:after {
    border-left: 22px solid #e6e6e6;
}