<ol class="breadcrumbs" >
    <li class="crumbs" *ngFor="let crumb of crumbs;let i=index">
        <button class="crumbs-button"
                [disabled]="i===crumbs.length-1 && crumbs.length!=1" (click)="goToLink(crumb, crumbs, i)">
            <a>{{crumb['title']}}</a>
        </button>
    </li>
</ol>
