h2 {
    color: #666;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: lighter;
}

.add-button {
    background: #48b9ac;
    height: 38px;
    width: 120px;
    padding: 0;
    line-height: 35px;
    border: 1px solid #a5a5a5;
    border-radius: 5px;
    color: #fff;
    margin: 15px 0;
}

.circle {
    top: 7px;
    left: 7px;
    border-radius: 100%;
    border: 2px solid #fff;
    height: 20px;
    width: 20px;
    padding: 1px 0 0
}

.table{
    font-size: 16px;
    font-weight: normal;
    max-width: calc(100vw - 20px);
}

th, td{
    font-weight: normal;
    border-right: 1px solid #f5f5f5;
    max-width: 20%;
    word-wrap: break-word;
    word-break: break-all;
}

.table thead i{
    font-size: 12px;
}

.table i{
    margin-right: 5px;
}

.table thead {
    background-color: #ccc;
}

.table tbody tr:nth-child(2n+1) {
    background-color: #17b999;
}

.table tbody tr:nth-child(2n) {
    background-color: #e4e4e4;
}

