<breadcrumbs></breadcrumbs>
<h2>Активные запросы</h2>
<button type="button" class="add-button" id="add-button" (click)="addField()">
    <i class="glyphicon glyphicon-plus pull-left circle" aria-hidden="true"></i>
    Добавить
</button>
<table class="table">
    <thead>
    <tr>
        <th><i class="glyphicon glyphicon-triangle-bottom"></i>ID</th>
        <th><i class="glyphicon glyphicon-triangle-bottom"></i>Наименование</th>
        <th><i class="glyphicon glyphicon-triangle-bottom"></i>Сумма</th>
        <th><i class="glyphicon glyphicon-triangle-bottom"></i>Удалена</th>
        <th><i class="glyphicon glyphicon-triangle-bottom"></i>Статус</th>
    </tr>
    </thead>
    <tbody *ngIf="services && services.length > 0">
    <tr *ngFor="let service of services">
        <td>
            <div>{{service.id}}</div>
        </td>
        <td>
            <div>{{service.name}}</div>
        </td>
        <td>
            <div>{{service.count}}</div>
        </td>
        <td class="text-center">
            <input type="checkbox" [checked]="service.deleted">
        </td>
        <td>
            <div>
                {{service.status}}
                <i class="glyphicon glyphicon-trash pull-right" (click)="deleteField(service)"></i>
                <i class="glyphicon glyphicon-pencil pull-right" (click)="editField(service)"></i>
            </div>
        </td>
    </tr>
    </tbody>
</table>

<modal #createTemplateModal>
    <modal-header>
        <h4 class="modal-title">Внимание</h4>
    </modal-header>
    <modal-body>
        Удалить запись. Вы уверены?
    </modal-body>
    <modal-footer>
        <button type="button" class="btn btn-ok"  (click)="modalClose()">Ок</button>
        <button type="button" class="btn btn-cancel" data-dismiss="modal" (click)="modal.dismiss()">Отмена</button>
    </modal-footer>
</modal>